{% macro leaves_recursive(leaf) %}
    {% import _self as self %}
    <li>
        {{ leaf.username }}
        {% if leaf.leftLeaf %}
            <ul>
                {{ self.leaves_recursive(leaf.leftLeaf) }}
            </ul>
        {% endif %}
        {% if leaf.rightLeaf %}
            <ul>
                {{ self.leaves_recursive(leaf.rightLeaf) }}
            </ul>
        {% endif %}

    </li>
{% endmacro %}
