{% import "macros/leaves_recursive.html.twig" as macros %}

{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block body %}
    <h1>Trees</h1>
    <p class="important">
        Here are the trees.
    </p>
    <ul>
        {% for tree in trees %}
            <li>Tree id: {{ tree.id }}
                <ul>
                    <li>
                        {% if tree.rootUser is not null %}
                            {{ macros.leaves_recursive(tree.rootUser) }}
                        {% else %}
                            this tree is empty
                        {% endif %}
                    </li>
                    <li><a href="{{ path('add-random-user', {'id': tree.id}) }}">Add random user!</a></li>
                </ul>
            </li>
        {% else %}
            <li>no trees yet</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('add-tree') }}">Add another tree!</a>
    </p>
{% endblock %}
